@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffbd59;
    --foreground: #fff2de;
    --background-secondary: #171717;
    --foreground-secondary: #ffffff;
    --text-title: #030712;
    --text-subtitle: #111827;
    --text-body: #374151;
  }
}

body {
  color: var(--foreground-secondary);
  background: var(--background-secondary);
  font-family: Arial, Helvetica, sans-serif;
}
